In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/nlp-getting-started/sample_submission.csv
/kaggle/input/nlp-getting-started/train.csv
/kaggle/input/nlp-getting-started/test.csv

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df_train = pd.read_csv('/kaggle/input/nlp-getting-started/train.csv')
df_train

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [4]:
df_test = pd.read_csv('/kaggle/input/nlp-getting-started/test.csv')
df_test

,id,keyword,location,text
0,0,NaN,NaN,Just happened a terrible car crash
1,2,NaN,NaN,"Heard about #earthquake is different cities, s..."
2,3,NaN,NaN,"there is a forest fire at spot pond, geese are..."
3,9,NaN,NaN,Apocalypse lighting. #Spokane #wildfires
4,11,NaN,NaN,Typhoon Soudelor kills 28 in China and Taiwan
...,...,...,...,...
3258,10861,NaN,NaN,EARTHQUAKE SAFETY LOS ANGELES Â‰Ã›Ã’ SAFETY FASTE...
3259,10865,NaN,NaN,Storm in RI worse than last hurricane. My city...
3260,10868,NaN,NaN,Green Line derailment in Chicago http://t.co/U...
3261,10874,NaN,NaN,MEG issues Hazardous Weather Outlook (HWO) htt...
3262,10875,NaN,NaN,#CityofCalgary has activated its Municipal Eme...

In [5]:
df  = pd.concat([df_train,df_test])
df

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1.0
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1.0
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1.0
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1.0
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1.0
...,...,...,...,...,...
3258,10861,NaN,NaN,EARTHQUAKE SAFETY LOS ANGELES Â‰Ã›Ã’ SAFETY FASTE...,NaN
3259,10865,NaN,NaN,Storm in RI worse than last hurricane. My city...,NaN
3260,10868,NaN,NaN,Green Line derailment in Chicago http://t.co/U...,NaN
3261,10874,NaN,NaN,MEG issues Hazardous Weather Outlook (HWO) htt...,NaN
3262,10875,NaN,NaN,#CityofCalgary has activated its Municipal Eme...,NaN

In [6]:
df.iloc[:7613]
df.iloc[7613:]

,id,keyword,location,text,target
0,0,NaN,NaN,Just happened a terrible car crash,NaN
1,2,NaN,NaN,"Heard about #earthquake is different cities, s...",NaN
2,3,NaN,NaN,"there is a forest fire at spot pond, geese are...",NaN
3,9,NaN,NaN,Apocalypse lighting. #Spokane #wildfires,NaN
4,11,NaN,NaN,Typhoon Soudelor kills 28 in China and Taiwan,NaN
...,...,...,...,...,...
3258,10861,NaN,NaN,EARTHQUAKE SAFETY LOS ANGELES Â‰Ã›Ã’ SAFETY FASTE...,NaN
3259,10865,NaN,NaN,Storm in RI worse than last hurricane. My city...,NaN
3260,10868,NaN,NaN,Green Line derailment in Chicago http://t.co/U...,NaN
3261,10874,NaN,NaN,MEG issues Hazardous Weather Outlook (HWO) htt...,NaN
3262,10875,NaN,NaN,#CityofCalgary has activated its Municipal Eme...,NaN

In [7]:
df.iloc[50:100]

,id,keyword,location,text,target
50,73,ablaze,"Sheffield Township, Ohio",Deputies: Man shot before Brighton home set ab...,1.0
51,74,ablaze,India,Man wife get six years jail for setting ablaze...,1.0
52,76,ablaze,Barbados,SANTA CRUZ Â‰Ã›Ã“ Head of the St Elizabeth Police...,0.0
53,77,ablaze,Anaheim,Police: Arsonist Deliberately Set Black Church...,1.0
54,78,ablaze,Abuja,Noches El-Bestia '@Alexis_Sanchez: happy to se...,0.0
55,79,ablaze,USA,#Kurds trampling on Turkmen flag later set it ...,1.0
56,80,ablaze,South Africa,TRUCK ABLAZE : R21. VOORTREKKER AVE. OUTSIDE O...,1.0
57,81,ablaze,"Sao Paulo, Brazil",Set our hearts ablaze and every city was a gif...,0.0
58,82,ablaze,hollywoodland,They sky was ablaze tonight in Los Angeles. I'...,0.0
59,83,ablaze,"Edmonton, Alberta - Treaty 6",How the West was burned: Thousands of wildfire...,1.0
60,85,ablaze,NaN,Revel in yours wmv videos by means of mac fare...,0.0
61,86,ablaze,Inang Pamantasan,Progressive greetings!\n\nIn about a month stu...,0.0
62,89,ablaze,Twitter Lockout in progress,Rene Ablaze &amp; Jacinta - Secret 2k13 (Falle...,0.0
63,91,ablaze,"Concord, CA",@Navista7 Steve these fires out here are somet...,1.0
64,92,ablaze,"Calgary, AB",#NowPlaying: Rene Ablaze &amp; Ian Buff - Magn...,0.0
65,93,ablaze,Birmingham,@nxwestmidlands huge fire at Wholesale markets...,1.0
66,95,ablaze,San Francisco,@ablaze what time does your talk go until? I d...,0.0
67,96,accident,CLVLND,'I can't have kids cuz I got in a bicycle acci...,0.0
68,97,accident,"Nashville, TN",Accident on I-24 W #NashvilleTraffic. Traffic ...,1.0
69,98,accident,"Santa Clara, CA",Accident center lane blocked in #SantaClara on...,1.0
70,100,accident,UK,http://t.co/GKYe6gjTk5 Had a #personalinjury a...,0.0
71,102,accident,"St. Louis, MO",#stlouis #caraccidentlawyer Speeding Among Top...,0.0
72,104,accident,"Walker County, Alabama",Reported motor vehicle accident in Curry on He...,1.0
73,105,accident,Australia,BigRigRadio Live Accident Awareness,1.0
74,107,accident,North Carolina,I-77 Mile Marker 31 South Mooresville Iredell...,1.0
75,109,accident,NaN,RT @SleepJunkies: Sleeping pills double your r...,0.0
76,110,accident,Norf Carolina,'By accident' they knew what was gon happen ht...,0.0
77,112,accident,"San Mateo County, CA",Traffic accident N CABRILLO HWY/MAGELLAN AV MI...,1.0
78,113,accident,North Carolina,I-77 Mile Marker 31 to 40 South Mooresville I...,1.0
79,114,accident,"Njoro, Kenya",the pastor was not in the scene of the acciden...,1.0
80,117,accident,NaN,mom: 'we didn't get home as fast as we wished'...,0.0
81,118,accident,Your Sister's Bedroom,I was in a horrible car accident this past Sun...,1.0
82,119,accident,NaN,Can wait to see how pissed Donnie is when I te...,0.0
83,120,accident,"Arlington, TX",#TruckCrash Overturns On #FortWorth Interstate...,1.0
84,121,accident,"South Bloomfield, OH",Accident in #Ashville on US 23 SB before SR 75...,1.0
85,126,accident,NaN,Carolina accident: Motorcyclist Dies in I-540 ...,1.0
86,128,accident,"New Hanover County, NC",FYI CAD:FYI: ;ACCIDENT PROPERTY DAMAGE;NHS;999...,1.0
87,129,accident,Maldives,RT nAAYf: First accident in years. Turning ont...,1.0
88,130,accident,"Manchester, NH",Accident left lane blocked in #Manchester on R...,1.0
89,131,accident,"Wilmington, NC",;ACCIDENT PROPERTY DAMAGE; PINER RD/HORNDALE DR,1.0
90,132,accident,NaN,???? it was an accident http://t.co/Oia5fxi4gM,0.0
91,133,accident,"New Hanover County, NC",FYI CAD:FYI: ;ACCIDENT PROPERTY DAMAGE;WPD;160...,1.0
92,134,accident,NaN,8/6/2015@2:09 PM: TRAFFIC ACCIDENT NO INJURY a...,1.0
93,135,accident,global,Aashiqui Actress Anu Aggarwal On Her Near-Fata...,1.0
94,136,accident,Alberta | Sask. | Montana,Suffield Alberta Accident https://t.co/bPTmlF4P10,1.0
95,137,accident,Charlotte,9 Mile backup on I-77 South...accident blockin...,1.0
96,138,accident,"Baton Rouge, LA",Has an accident changed your life? We will hel...,0.0
97,139,accident,"Hagerstown, MD",#BREAKING: there was a deadly motorcycle car a...,1.0
98,141,accident,"Gloucestershire , UK",@flowri were you marinading it or was it an ac...,0.0
99,143,accident,NaN,only had a car for not even a week and got in ...,1.0

In [8]:
df.target.value_counts()

0.0    4342
1.0    3271
Name: target, dtype: int64

In [9]:
from sklearn.feature_extraction.text import CountVectorizer

In [10]:
cv = CountVectorizer(stop_words='english')

In [11]:
matrix = cv.fit_transform(df[df['target']==1]['text'])
freqs = zip(cv.get_feature_names(), matrix.sum(axis=0).tolist()[0])    
print("Top 20 words used for disaster.")
print(sorted(freqs, key=lambda x: -x[1])[:20])

Top 20 words used for disaster.
[('http', 2382), ('Ã»_', 172), ('news', 140), ('amp', 135), ('https', 134), ('disaster', 121), ('california', 115), ('suicide', 112), ('police', 109), ('people', 105), ('killed', 95), ('like', 94), ('hiroshima', 92), ('just', 89), ('storm', 89), ('fires', 86), ('crash', 85), ('families', 81), ('train', 79), ('emergency', 77)]

/opt/conda/lib/python3.7/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [12]:
matrix = cv.fit_transform(df[df['target']==0]['text'])
freqs = zip(cv.get_feature_names(), matrix.sum(axis=0).tolist()[0])    
print("Top 20 words used for non-disaster tweets.")
print(sorted(freqs, key=lambda x: -x[1])[:20])

Top 20 words used for non-disaster tweets.
[('http', 1927), ('https', 277), ('like', 254), ('just', 234), ('amp', 209), ('Ã»_', 176), ('new', 170), ('don', 138), ('body', 116), ('video', 96), ('people', 95), ('love', 90), ('day', 86), ('know', 86), ('time', 85), ('got', 84), ('emergency', 81), ('going', 76), ('let', 76), ('youtube', 76)]

In [13]:
train = df.iloc[:7613]
test = df.iloc[7613:]

In [14]:
X_train = train['text']
y_train = train['target']

X_test = test['text']

In [15]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC
from sklearn.naive_bayes import MultinomialNB

In [16]:
print(y_train.shape)
print(X_train.shape)

(7613,)
(7613,)

In [17]:
pipe = Pipeline([('tfidf', TfidfVectorizer()),('svc', LinearSVC()),])

In [18]:
pipe.fit(X_train, y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()), ('svc', LinearSVC())])

In [19]:
predictions = pipe.predict(X_test).astype(int)
predictions

array([1, 1, 1, ..., 1, 1, 1])

In [20]:
predictions.shape

(3263,)

In [21]:
df_for_id = pd.read_csv('../input/nlp-getting-started/test.csv')

In [22]:
submission = pd.DataFrame({'target':predictions})
submission['id'] = df_for_id['id']
submission = submission.iloc[:, ::-1]
submission['target']= submission['target'].astype('int')
submission.to_csv('submission.csv',index = False)
submission

         id  target
0         0       1
1         2       1
2         3       1
3         9       1
4        11       1
...     ...     ...
3258  10861       1
3259  10865       1
3260  10868       1
3261  10874       1
3262  10875       1

[3263 rows x 2 columns]

In [23]:
pd.read_csv('../input/nlp-getting-started/sample_submission.csv')

         id  target
0         0       0
1         2       0
2         3       0
3         9       0
4        11       0
...     ...     ...
3258  10861       0
3259  10865       0
3260  10868       0
3261  10874       0
3262  10875       0

[3263 rows x 2 columns]